.App {
  text-align: center;
}

.Card{
  background-color: lightblue;
  width: 45%;
  border: 15px outset rgb(0, 0, 0);
  padding: 50px;
  margin: 20px;
}

.Cardtext{
  background-color: #FF923D;
  width: 65%;
  border: 10px outset rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
}
